
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
}

.contacto-seccion {
    background: linear-gradient(180deg, #d8ecd8 0%, #c5e3c6 100%);
    padding: 90px 20px;
}

.contacto-contenedor {
    background: #ffffff;
    padding: 45px 40px;
    border-radius: 25px;
    max-width: 650px;
    margin: auto;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    animation: aparecer 0.7s ease;
}

.contacto-titulo {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    color: #1f4e1f;
    margin-bottom: 30px;
}

.contacto-formulario {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contacto-formulario input,
.contacto-formulario textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid #c7d8c7;
    border-radius: 14px;
    background: #f8fff8;
    transition: 0.3s ease;
}

.contacto-formulario input:focus,
.contacto-formulario textarea:focus {
    border-color: #1f4e1f;
    box-shadow: 0 0 8px rgba(31, 78, 31, 0.35);
    outline: none;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    display: none;
    margin-top: 2px;
}

.contacto-formulario input:invalid+.error-msg,
.contacto-formulario textarea:invalid+.error-msg {
    display: block;
}

.btn-verde {
    padding: 14px;
    background: #1f4e1f;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn-verde:hover {
    background: #163a16;
    transform: translateY(-3px);
}

.alerta-exito {
    margin-top: 22px;
    background: #1f4e1f;
    color: white;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease;
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-input {
    border-color: #ff4d4d !important;
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
}